.fotoProduto{
    width: 120px;
    height: 100px;
    border-style: solid;
    border-width: large;
    border-color: white;
}

.col-2 {
    float: left;
    height: inherit;
    overflow: hidden;
    padding: 19px 0 0 0;
    margin-right: 16px;
    width: 128px;
}

.posicao {
    text-align: center;
}
