<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/vender"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Novo Produto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br> <br> <br>
  <h1>fazer upload de imagens </h1>

  <form [formGroup]="formProduto" (submit)="novoproduto()">
    <ion-list>
      <ion-item>
        <ion-input name="descricao" type="text" placeholder="Descrição" inputmode="descricao"
          formControlName="descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="preco" type="valor" placeholder="valor" inputmode="valor" formControlName="preco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="categoria" formControlName="categoria"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="user" type="text" placeholder="usuário" inputmode="user" formControlName="user"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="formProduto.invalid"> Salvar</ion-button>
    </ion-list>
  </form>



</ion-content>