<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>  
      </ion-buttons>
      <ion-title>
        Criar Conta
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <br> <br> <br>
      <form>
        <ion-item>
            <ion-input type="nome" placeholder="Nome completo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="Email"></ion-input>  
        </ion-item>
        <ion-item>
            <ion-input type="celular" placeholder="Celular"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="endereço" placeholder="Endereço"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="cidade" placeholder="Cidade"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="uf" placeholder="UF"></ion-input>
        </ion-item>
        <ion-button color ='success' shape="round" expand="full">
            CADASTRAR
        </ion-button>
      </form>
  </ion-content>
  