<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/produtos"></ion-back-button>  
      </ion-buttons>
      <ion-title>
        Alterar Dados
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <br> <br>
  <form>
    <ion-item>
        <ion-input type="nome" placeholder="Nome completo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="Email"></ion-input>  
    </ion-item>
    <ion-item>
        <ion-input type="celular" placeholder="Celular"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="endereço" placeholder="Endereço"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="cidade" placeholder="Cidade"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="uf" placeholder="UF"></ion-input>
    </ion-item>
    <ion-button color="primary" shape="round" expand="full">
        ALTERAR
    </ion-button>
  </form>
</ion-content>

