<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="descricao"></ion-back-button>  
    </ion-buttons>
    <ion-title>
      Confirmação da Compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            Vendedor(a):
          </ion-card-title>
          <ion-card-content>
            <h2>Shirley</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            Celular:
          </ion-card-title>
          <ion-card-content>
            <h2>56464386684</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Email:</ion-card-title>
          <ion-card-content>
            Shirshiley@aol.com.br
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block">
    Confirmar a compra
  </ion-button>


</ion-content>
